/* Pagina di Login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #e6ecf3, #ffffff);
    text-align: center;
}

.logo-login {
    width: 80px;
    margin-bottom: 20px;
}

.login-container h1 {
    font-size: 2em;
    color: #003366;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-container input {
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #003366;
    border-radius: 8px;
    font-size: 1em;
}

.login-container button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0055a5;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
}
